<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Step Counter App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <hr>
  <h1>{{action}}</h1>

  <div class="header-border">
    {{steps}}
  </div>
  <h1>Steps Counted</h1>

</ion-content>

<ion-footer>
  
  <ion-button fill="outline" shape="round" (click)="changeAction()" [disabled]="!canCount">
    {{actionButton}}
  </ion-button>

  <br>

  <ion-button fill="outline" shape="round" (click)="analyze()" [disabled]="steps <= 0">
    Analyze
  </ion-button>


</ion-footer>
