ion-content
{
  text-align: center;

  h1
  {
    text-transform: uppercase;
    font-size: 3em;

    background: linear-gradient(to right, var(--lightBlue), var(--darkBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header-border
  {
    margin: 10%;

    font-size: 3em;

    border: 3px solid transparent;
    border-radius: 50vw;

    background: linear-gradient(to left, var(--lightPurple), var(--darkPurple));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
}

ion-footer
{
  margin-bottom: 5vh;
  text-align: center;
  align-content: center;
  align-items: center;

  ion-button
  {
    font-size: 1.5em;
  }
}